header, main, footer, .container {
  width: 100%;
  max-width: 768px;
}

body {
  font-family: "roboto";
}

h1, h2, h3, h4, h5 {
  font-family: "roboto";
}

.btn {
  margin: 10px 0px;
  padding: 13px 13px;
  border-style: solid;
  border-radius: 25px;
  border-width: 2px;
  text-decoration: none;
  font-weight: bolder;
}

.btn-fonctionnement {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 10px 0px;
  padding: 20px 0px;
  border-style: solid;
  border-radius: 15px;
  border-width: 1px;
  border-color: #FFFFFF;
  text-decoration: none;
  box-shadow: 0 0 16px #EAEAEA;
  font-weight: bolder;
}

header {
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 40px;
  background: #FFFFFF;
}
header img {
  margin-top: 10px;
}

@media (max-width: 992px) {
  header {
    margin: 0 auto;
    max-width: 992px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
  }
  header img {
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  header {
    margin: 0 auto;
    max-width: 768px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
  }
  header img {
    margin-top: 10px;
  }
}
body {
  max-width: 1400px;
  display: flex;
  justify-content: center;
  position: relative;
  font-family: "Raleway", sans-serif;
}

header, main, footer, .container {
  width: 100%;
  max-width: 1400px;
}

@media (max-width: 992px) {
  header, main, footer, .container {
    width: 100%;
    max-width: 992px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  header, main, footer, .container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
  }
}
.loader-background {
  background: linear-gradient(#9356DC, #FF79DA);
  height: 120vh;
  position: fixed;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 3000ms forwards;
}

.loader {
  position: relative;
  width: 150px;
  height: 25px;
  border-radius: 0 0 15px 15px;
  background-color: #003A68;
  box-shadow: 0 -1px 4px #5d6063 inset;
  animation: panex 0.5s linear alternate infinite;
  transform-origin: 170px 0;
  z-index: 10;
  perspective: 300px;
  margin-top: 350px;
  margin-left: 630px;
}

.loader::before {
  content: "";
  position: absolute;
  left: calc(100% - 0px);
  top: 0;
  z-index: -2;
  height: 10px;
  width: 70px;
  border-radius: 0 4px 4px 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(#6c4924, #4b2d21), linear-gradient(#4d5457 24px, transparent 0), linear-gradient(#9f9e9e 24px, transparent 0);
  background-size: 50px 10px, 4px 8px, 24px 4px;
  background-position: right center, 17px center, 0px center;
}

.loader::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  z-index: -2;
  transform: translate(-50%, -20px) rotate3d(75, -2, 3, 78deg);
  width: 55px;
  height: 53px;
  background: #fff;
  background-image: radial-gradient(circle 3px, rgba(255, 255, 255, 0.4) 90%, transparent 10%), radial-gradient(circle 12px, #ffc400 90%, transparent 10%), radial-gradient(circle 12px, #ffae00 100%, transparent 0);
  background-repeat: no-repeat;
  background-position: -4px -6px, -2px -2px, -1px -1px;
  box-shadow: -2px -3px rgba(0, 0, 0, 0.1333333333) inset, 0 0 4px rgba(0, 0, 0, 0.2) inset;
  border-radius: 47% 36% 50% 50%/49% 45% 42% 44%;
  animation: eggRst 1s ease-out infinite;
}

@media screen and (max-width: 992px) {
  .loader {
    margin-left: 410px;
  }
}
@media screen and (max-width: 768px) {
  .loader {
    margin-left: 95px;
  }
}
@keyframes eggRst {
  0%, 100% {
    transform: translate(-50%, -20px) rotate3d(90, 0, 0, 90deg);
    opacity: 0;
  }
  10%, 90% {
    transform: translate(-50%, -30px) rotate3d(90, 0, 0, 90deg);
    opacity: 1;
  }
  25% {
    transform: translate(-50%, -40px) rotate3d(85, 17, 2, 70deg);
  }
  75% {
    transform: translate(-50%, -40px) rotate3d(75, -3, 2, 70deg);
  }
  50% {
    transform: translate(-55%, -50px) rotate3d(75, -8, 3, 50deg);
  }
}
@keyframes panex {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    visibility: hidden;
  }
}
.location {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background-color: #EAEAEA;
  justify-content: center;
  align-items: center;
}
.location form {
  width: 100%;
  border-color: #FFFFFF;
}
.location form .search {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: #EAEAEA;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 0.5px;
  box-shadow: 0 -3px 2px -2px #7E7E7E;
}
.location form .search::placeholder {
  color: #353535;
}
.location i {
  color: #353535;
  margin-right: 150px;
  position: absolute;
}

.sectionOne {
  align-items: center;
  height: 280px;
  text-align: center;
  background-color: #F7F7F7;
}
.sectionOne h1 {
  text-align: center;
  margin: 0px;
  padding-top: 35px;
}
.sectionOne p {
  text-align: center;
  padding-bottom: 30px;
  color: #353535;
}
.sectionOne .btn {
  background: linear-gradient(#9356DC, #FF79DA);
  color: #FFFFFF;
}

.sectionTwo h2 {
  margin-left: 175px;
}
.sectionTwo .fonctionnement {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sectionTwo .fonctionnement .btn-fonctionnement {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 20px;
  padding-right: 25px;
  color: #000000;
  transition: all 450ms ease-out;
}
.sectionTwo .fonctionnement .btn-fonctionnement:hover {
  cursor: pointer;
  background-color: #F5EDFF;
  opacity: 1;
}
.sectionTwo .fonctionnement .btn-fonctionnement:hover .fa-mobile-alt:before, .sectionTwo .fonctionnement .btn-fonctionnement:hover .fa-mobile-screen-button:before, .sectionTwo .fonctionnement .btn-fonctionnement:hover .fa-list-dots:before, .sectionTwo .fonctionnement .btn-fonctionnement:hover .fa-list-ul:before, .sectionTwo .fonctionnement .btn-fonctionnement:hover .fa-store:before {
  color: #9356DC;
}
.sectionTwo .fonctionnement .fa-1, .sectionTwo .fonctionnement .fa-2, .sectionTwo .fonctionnement .fa-3 {
  text-align: center;
  position: relative;
}
.sectionTwo .fonctionnement .fa-mobile-alt:before, .sectionTwo .fonctionnement .fa-mobile-screen-button:before {
  position: relative;
  color: #7E7E7E;
  left: -15px;
}
.sectionTwo .fonctionnement .fa-list-dots:before, .sectionTwo .fonctionnement .fa-list-ul:before, .sectionTwo .fonctionnement .fa-store:before {
  position: relative;
  color: #7E7E7E;
  left: -20px;
}
.sectionTwo .fonctionnement .fa-1:before {
  position: absolute;
  color: #9356DC;
  left: -60px;
  top: -1px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #9356DC;
  color: white;
}
.sectionTwo .fonctionnement .fa-2:before, .sectionTwo .fonctionnement .fa-3:before {
  position: absolute;
  color: #9356DC;
  left: -65px;
  top: -1px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #9356DC;
  color: white;
}

@media screen and (max-width: 992px) {
  .sectionTwo .fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: -15px;
  }
  .sectionTwo .fonctionnement .btn-fonctionnement {
    font-size: smaller;
    width: 175px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 20px;
    padding-right: 0px;
    padding-left: 20px;
    color: #000000;
    transition: all 450ms ease-out;
  }
  .sectionTwo .fonctionnement .btn-fonctionnement:hover {
    cursor: pointer;
    background-color: #F5EDFF;
    opacity: 1;
  }
  .sectionTwo .fonctionnement .btn-fonctionnement:hover .fa-mobile-alt:before, .sectionTwo .fonctionnement .btn-fonctionnement:hover .fa-mobile-screen-button:before, .sectionTwo .fonctionnement .btn-fonctionnement:hover .fa-list-dots:before, .sectionTwo .fonctionnement .btn-fonctionnement:hover .fa-list-ul:before, .sectionTwo .fonctionnement .btn-fonctionnement:hover .fa-store:before {
    color: #9356DC;
  }
  .sectionTwo .fonctionnement .fa-1, .sectionTwo .fonctionnement .fa-2, .sectionTwo .fonctionnement .fa-3 {
    text-align: center;
    position: relative;
  }
  .sectionTwo .fonctionnement .fa-mobile-alt:before, .sectionTwo .fonctionnement .fa-mobile-screen-button:before {
    position: relative;
    color: #7E7E7E;
    left: -7px;
  }
  .sectionTwo .fonctionnement .fa-list-dots:before, .sectionTwo .fonctionnement .fa-list-ul:before, .sectionTwo .fonctionnement .fa-store:before {
    position: relative;
    color: #7E7E7E;
    left: -10px;
  }
  .sectionTwo .fonctionnement .fa-1:before {
    position: absolute;
    color: #9356DC;
    left: -35px;
    top: -1px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #9356DC;
    color: white;
  }
  .sectionTwo .fonctionnement .fa-2:before, .sectionTwo .fonctionnement .fa-3:before {
    position: absolute;
    color: #9356DC;
    left: -38px;
    top: -1px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #9356DC;
    color: white;
  }
}
@media screen and (max-width: 768px) {
  .sectionTwo h2 {
    margin-left: 25px;
  }
  .sectionTwo .fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-right: -25px;
  }
  .sectionTwo .fonctionnement .btn-fonctionnement {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 20px;
    padding-right: 25px;
    color: #000000;
    transition: all 450ms ease-out;
  }
  .sectionTwo .fonctionnement .btn-fonctionnement:hover {
    cursor: pointer;
    background-color: #F5EDFF;
    opacity: 1;
  }
  .sectionTwo .fonctionnement .btn-fonctionnement:hover .fa-mobile-alt:before, .sectionTwo .fonctionnement .btn-fonctionnement:hover .fa-mobile-screen-button:before, .sectionTwo .fonctionnement .btn-fonctionnement:hover .fa-list-dots:before, .sectionTwo .fonctionnement .btn-fonctionnement:hover .fa-list-ul:before, .sectionTwo .fonctionnement .btn-fonctionnement:hover .fa-store:before {
    color: #9356DC;
  }
  .sectionTwo .fonctionnement .fa-1, .sectionTwo .fonctionnement .fa-2, .sectionTwo .fonctionnement .fa-3 {
    text-align: center;
  }
  .sectionTwo .fonctionnement .fa-mobile-alt:before, .sectionTwo .fonctionnement .fa-mobile-screen-button:before {
    color: #7E7E7E;
    margin-left: -25px;
  }
  .sectionTwo .fonctionnement .fa-list-dots:before, .sectionTwo .fonctionnement .fa-list-ul:before, .sectionTwo .fonctionnement .fa-store:before {
    color: #7E7E7E;
    margin-left: -30px;
  }
  .sectionTwo .fonctionnement .fa-1:before {
    color: #9356DC;
    margin-left: -40px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #9356DC;
    position: absolute;
    color: white;
  }
  .sectionTwo .fonctionnement .fa-2:before, .sectionTwo .fonctionnement .fa-3:before {
    color: #9356DC;
    margin-left: -45px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #9356DC;
    position: absolute;
    color: white;
  }
}
.sectionThree {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  background-color: #F7F7F7;
  overflow: hidden;
}
.sectionThree h2 {
  margin-left: 175px;
  margin-top: 60px;
}
.sectionThree .cards {
  position: relative;
  left: 133px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sectionThree .cards .cardOne {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 40px;
  background-color: #FFFFFF;
  border-radius: 20px;
  width: 45%;
  height: 250px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1803921569);
}
.sectionThree .cards .cardOne a {
  text-decoration: none;
  color: #000000;
}
.sectionThree .cards .cardOne .heart:hover .fa-heart:before {
  font-weight: bolder;
  color: #9356DC;
  cursor: pointer;
  transition: color 450ms ease-out;
}
.sectionThree .cards .cardOne img {
  width: 100%;
  height: 165px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.sectionThree .cards .cardOne .info-restaurant {
  margin-left: -25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.sectionThree .cards .cardOne .info-restaurant .fa-heart:before {
  font-size: 35px;
  position: absolute;
  margin-left: -25px;
}
.sectionThree .cards .cardOne .info-restaurant p {
  margin-top: 5px;
}
.sectionThree .cards .cardOne .info-restaurant h3 {
  margin-bottom: 0px;
}
.sectionThree .cards .cardOne .alert {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 40px;
  background-color: #99E2D0;
  position: relative;
  left: 175px;
  bottom: 235px;
}
.sectionThree .cards .cardOne .alert p {
  text-align: center;
  margin-top: 10px;
  color: #008766;
}

@media (max-width: 992px) {
  .sectionThree {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-color: #F7F7F7;
    overflow: hidden;
  }
  .sectionThree .cards {
    position: relative;
    left: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .sectionThree .cards .cardOne {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 45%;
    height: 250px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1803921569);
  }
  .sectionThree .cards .cardOne a {
    text-decoration: none;
    color: #000000;
  }
  .sectionThree .cards .cardOne .heart:hover .fa-heart:before {
    font-weight: bolder;
    color: #9356DC;
    cursor: pointer;
    transition: color 450ms ease-out;
  }
  .sectionThree .cards .cardOne img {
    width: 100%;
    height: 165px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }
  .sectionThree .cards .cardOne .info-restaurant {
    margin-left: -10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: small;
  }
  .sectionThree .cards .cardOne .info-restaurant .fa-heart:before {
    font-size: 35px;
    position: absolute;
    margin-left: -25px;
  }
  .sectionThree .cards .cardOne .info-restaurant p {
    margin-top: 5px;
  }
  .sectionThree .cards .cardOne .info-restaurant h3 {
    margin-bottom: 0px;
  }
  .sectionThree .cards .cardOne .alert {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 40px;
    background-color: #99E2D0;
    position: relative;
    left: 80px;
    bottom: 220px;
  }
  .sectionThree .cards .cardOne .alert p {
    text-align: center;
    margin-top: 10px;
    color: #008766;
  }
}
@media (max-width: 768px) {
  .sectionThree {
    width: 100%;
    height: 1250px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-color: #F7F7F7;
  }
  .sectionThree h2 {
    margin-left: 25px;
    margin-top: 50px;
  }
  .sectionThree .cards {
    position: relative;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sectionThree .cards .cardOne {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 18px;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 90%;
    height: 250px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1803921569);
  }
  .sectionThree .cards .cardOne a {
    text-decoration: none;
    color: #000000;
  }
  .sectionThree .cards .cardOne .heart:hover .fa-heart:before {
    font-weight: bolder;
    color: #9356DC;
    cursor: pointer;
    transition: color 450ms ease-out;
  }
  .sectionThree .cards .cardOne img {
    width: 100%;
    height: 165px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }
  .sectionThree .cards .cardOne .info-restaurant {
    margin-left: -10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: medium;
  }
  .sectionThree .cards .cardOne .info-restaurant .fa-heart:before {
    font-size: 35px;
    position: absolute;
    margin-left: -25px;
  }
  .sectionThree .cards .cardOne .info-restaurant p {
    margin-top: 5px;
  }
  .sectionThree .cards .cardOne .info-restaurant h3 {
    margin-bottom: 0px;
  }
  .sectionThree .cards .cardOne .alert {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 40px;
    background-color: #99E2D0;
    position: relative;
    left: 190px;
    bottom: 235px;
  }
  .sectionThree .cards .cardOne .alert p {
    text-align: center;
    margin-top: 10px;
    color: #008766;
  }
}
footer {
  background-color: #353535;
  height: 100px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
footer article {
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  margin-top: 40px;
  margin-left: 25px;
}
footer article a {
  text-decoration: none;
  color: #FFFFFF;
}
footer article a .fa-cutlery:before, footer article a .fa-utensils:before {
  margin-right: 15px;
}
footer article a .fa-hands-helping:before, footer article a .fa-handshake-angle:before {
  margin-right: 9px;
}
footer article h3 {
  font-size: larger;
  margin-top: -3px;
  margin-left: 20px;
  font-style: italic;
}

@media (max-width: 992px) {
  footer {
    background-color: #353535;
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  footer article {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    margin-top: 40px;
    margin-left: 25px;
  }
  footer article a {
    text-decoration: none;
    color: #FFFFFF;
  }
  footer article a .fa-cutlery:before, footer article a .fa-utensils:before {
    margin-right: 15px;
  }
  footer article a .fa-hands-helping:before, footer article a .fa-handshake-angle:before {
    margin-right: 9px;
  }
  footer article h3 {
    font-size: larger;
    margin-top: -3px;
    margin-left: 20px;
    font-style: italic;
  }
}
@media (max-width: 768px) {
  footer {
    background-color: #353535;
    height: 250px;
    display: flex;
    flex-direction: column;
  }
  footer article {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 25px;
  }
  footer article a {
    text-decoration: none;
    color: #FFFFFF;
  }
  footer article a .fa-cutlery:before, footer article a .fa-utensils:before {
    margin-right: 15px;
  }
  footer article a .fa-hands-helping:before, footer article a .fa-handshake-angle:before {
    margin-right: 9px;
  }
  footer article h3 {
    margin-bottom: 0px;
    margin-left: 0px;
  }
}
header i {
  position: absolute;
  margin-left: -400px;
  margin-top: 15px;
  color: #353535;
  font-size: larger;
}

@media screen and (max-width: 992px) {
  header i {
    position: absolute;
    margin-left: -300px;
    margin-top: 15px;
    color: #353535;
    font-size: larger;
  }
}
@media screen and (max-width: 768px) {
  header i {
    position: absolute;
    margin-left: -85px;
    margin-top: 15px;
    color: #353535;
    font-size: larger;
  }
}
.background {
  width: 100%;
  height: 50px;
}
.background img {
  width: 100%;
  height: 275px;
  margin-top: 10px;
  object-fit: cover;
}

.card-menu {
  margin-top: 155px;
  width: 70%;
  margin-left: 205px;
  padding-bottom: 30px;
  background-color: #F7F7F7;
  position: relative;
  border-radius: 45px 45px 0px 0;
}
.card-menu .entete {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.card-menu .entete h1 {
  font-family: Shrikhand;
}
.card-menu .entete i {
  font-size: 35px;
}
.card-menu .entree {
  animation-duration: 3s;
  animation-delay: 100ms;
  animation-name: glissement;
  transition: all 450ms ease-out;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 10px;
}
.card-menu .entree h2 {
  color: #7E7E7E;
  font-size: 15px;
  border-bottom: 3px solid;
  border-bottom-color: #99E2D0;
  padding-bottom: 10px;
  width: 40px;
}
.card-menu .entree a:hover .background-green {
  display: flex;
  flex-direction: column;
  background-color: #99E2D0;
  width: 16%;
  margin-top: -26px;
  margin-right: -10px;
  height: 67px;
  border-radius: 0 10px 10px 0;
  transition: color 450ms ease-out;
}
.card-menu .entree a:hover .background-green .fa-circle-check {
  display: flex;
  visibility: visible;
  justify-content: center;
  margin-top: 25px;
  color: white;
}
.card-menu .entree .entreeOne {
  width: 90%;
  border-radius: 15px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.18);
  padding: 10px 10px 0px 10px;
  margin-bottom: 15px;
}
.card-menu .entree .entreeOne h3 {
  margin-top: 0px;
}
.card-menu .entree .entreeOne .tarif {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -25px;
}
.card-menu .entree .entreeOne .tarif p {
  color: #7E7E7E;
  margin-top: 10px;
  font-size: 14px;
}
.card-menu .entree .entreeOne .tarif .prix p {
  color: #000000;
  margin-left: 160px;
  margin-right: 5px;
}
.card-menu .entree .entreeOne .fa-circle-check {
  visibility: hidden;
}
.card-menu .plat {
  animation-duration: 3s;
  animation-delay: 3000ms;
  animation-name: glissement;
  transition: all 450ms ease-out;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 10px;
}
.card-menu .plat h2 {
  color: #7E7E7E;
  font-size: 15px;
  border-bottom: 3px solid;
  border-bottom-color: #99E2D0;
  padding-bottom: 10px;
  width: 40px;
}
.card-menu .plat a:hover .background-green {
  display: flex;
  flex-direction: column;
  background-color: #99E2D0;
  width: 16%;
  margin-top: -26px;
  margin-right: -10px;
  height: 67px;
  border-radius: 0 10px 10px 0;
}
.card-menu .plat a:hover .background-green .fa-circle-check {
  display: flex;
  visibility: visible;
  justify-content: center;
  margin-top: 25px;
  color: white;
}
.card-menu .plat .platOne {
  width: 90%;
  border-radius: 15px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.18);
  padding: 10px 10px 0px 10px;
  margin-bottom: 15px;
}
.card-menu .plat .platOne h3 {
  margin-top: 0px;
}
.card-menu .plat .platOne .tarif {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -25px;
}
.card-menu .plat .platOne .tarif p {
  color: #7E7E7E;
  margin-top: 10px;
  font-size: 14px;
}
.card-menu .plat .platOne .tarif .prix p {
  color: #000000;
  margin-left: 160px;
  margin-right: 5px;
}
.card-menu .plat .platOne .fa-circle-check {
  visibility: hidden;
}
.card-menu .dessert {
  animation-duration: 3s;
  animation-delay: 6000ms;
  animation-name: glissement;
  transition: all 450ms ease-out;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 10px;
}
.card-menu .dessert h2 {
  color: #7E7E7E;
  font-size: 15px;
  border-bottom: 3px solid;
  border-bottom-color: #99E2D0;
  padding-bottom: 10px;
  width: 40px;
}
.card-menu .dessert a:hover .background-green {
  display: flex;
  flex-direction: column;
  background-color: #99E2D0;
  width: 16%;
  margin-top: -26px;
  margin-right: -10px;
  height: 67px;
  border-radius: 0 10px 10px 0;
}
.card-menu .dessert a:hover .background-green .fa-circle-check {
  display: flex;
  visibility: visible;
  justify-content: center;
  margin-top: 25px;
  color: white;
}
.card-menu .dessert .dessertOne {
  width: 90%;
  border-radius: 15px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.18);
  padding: 10px 10px 0px 10px;
  margin-bottom: 15px;
}
.card-menu .dessert .dessertOne h3 {
  margin-top: 0px;
}
.card-menu .dessert .dessertOne .tarif {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -25px;
}
.card-menu .dessert .dessertOne .tarif p {
  color: #7E7E7E;
  margin-top: 10px;
  font-size: 14px;
}
.card-menu .dessert .dessertOne .tarif .prix p {
  color: #000000;
  margin-left: 160px;
  margin-right: 5px;
}
.card-menu .dessert .dessertOne .fa-circle-check {
  visibility: hidden;
}

@media screen and (max-width: 992px) {
  .card-menu {
    margin-top: 155px;
    width: 70%;
    margin-left: 150px;
  }
}
@media screen and (max-width: 768px) {
  .card-menu {
    margin-top: 155px;
    width: 100%;
    margin-left: 0px;
  }
}
@keyframes glissement {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.button {
  text-align: center;
  margin: 40px;
}
.button .btn {
  background: linear-gradient(#9356DC, #FF79DA);
  color: #FFFFFF;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  transition: all 450ms ease-out;
}
.button .btn:hover {
  background-color: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  opacity: 0.7;
}

/*# sourceMappingURL=main.css.map */
