@mixin btn {
    margin: 10px 0px;
    padding: 13px 13px;
    border-style:solid;
    border-radius: 25px;
    border-width: 2px;
    text-decoration: none;
    font-weight: bolder;
}

@mixin btn-fonctionnement{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    padding: 20px 0px;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    border-color:$color-white;
    text-decoration: none;
    box-shadow: 0 0 16px $color-grey;
    font-weight: bolder;
}

@mixin section-display1{
    display:flex;
    flex-direction:column;
}

@mixin section-display2{
    display:flex;
    flex-direction:row;
}

@mixin background-color-gradient{
    background : linear-gradient($color-primary,$color-secondary);
}

@mixin color-gradient{
    color : linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}

@mixin color-hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

