$color-primary: #9356DC ;
$color-primary2:#F5EDFF;
$color-secondary: #FF79DA ;
$color-tertiary: #99E2D0;
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey :#EAEAEA;
$color-grey2 :#353535;
$color-grey3: #F7F7F7;
$color-grey-icone : #7E7E7E;
$color-green :#008766;